<a href="https://colab.research.google.com/github/ravipolaka/understat_EPL_data/blob/main/tastysoup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import json
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import urlopen

In [ ]:
url="https://understat.com/league/EPL"

In [ ]:
content=urlopen(url)

In [ ]:
page=BeautifulSoup(content,"html.parser")

In [ ]:
print(type(url))
print(type(content))
print(type(page))

<class 'str'>
<class 'http.client.HTTPResponse'>
<class 'bs4.BeautifulSoup'>

In [ ]:
page.find_all(name="script")

In [ ]:
player_data=page.find_all(name="script")[3].text

In [ ]:
start_index=player_data.index("('")+2
end_index=player_data.index("')")

In [ ]:
raw_data=player_data[start_index:end_index]

In [ ]:
json_data=raw_data.encode("utf8").decode("unicode_escape")

In [ ]:
jsonform_data=json.loads(json_data)

In [ ]:
df=pd.json_normalize(jsonform_data)

In [ ]:
df

       id      player_name  ...             xGChain           xGBuildup
0     647       Harry Kane  ...  24.995648321695626   4.451256847940385
1    1250    Mohamed Salah  ...  28.968233548104763   9.800235655158758
2    1228  Bruno Fernandes  ...  26.911412378773093   11.93228487111628
3     453    Son Heung-Min  ...    20.6719155497849   6.608751138672233
4     822  Patrick Bamford  ...  23.394952706992626   4.131795546039939
..    ...              ...  ...                 ...                 ...
519  9423  Gaetano Berardi  ...  0.2312779352068901  0.2312779352068901
520  9540      Femi Seriki  ...                   0                   0
521  9552  Tyrese Francois  ...                   0                   0
522  9557     William Fish  ...                   0                   0
523  9558  Hannibal Mejbri  ...                   0                   0

[524 rows x 18 columns]